<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss}, [%X{division}-%X{category}], [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <RollingFile name="RollingFile" fileName="log/messaging.log" filePattern="log/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss}, [%X{division}-%X{category}], [%t] %-5level %logger{36} - %msg%n"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="100 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="20"/>
    </RollingFile>

  </Appenders>
  <Loggers>
    <Root level="warn">
      <AppenderRef ref="Console" level="warn"/>
      <appender-ref ref="RollingFile" />
    </Root>
  </Loggers>
</Configuration>